Pillow
SQLAlchemy
accelerate
beautifulsoup4
bitsandbytes
crewai
datasets
python-dotenv
google-api-python-client
gradio
huggingface-hub
imageio
ipython
langchain
llama-index
matplotlib
moviepy
nest-asyncio
networkx
numpy
ollama
openai
opencv-python
pandas
pdf2image
peft
pydantic
requests
scikit-learn
sentence-transformers
torch
tqdm
transformers
trl
wandb
wikipedia
websockets
httpx-sse
